<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js"></script>
</head>
<body style="background-color: #4d545b">
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header" style="font-size: 30px">柚子极客后台管理系统</div>
                <div class="layui-card-body">
                    <div style="height: 90%;width: 90%">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>