<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>案例添加</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<br>
<br>
<div class="layui-row">
    <div class="layui-col-md11">
        <form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">日期</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="test1" name="date">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">封面</label>
                <div class="layui-input-block">
                    <img src="" id="myImg" name="myImg" class="layui-col-md2"><br/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="uploadBtn">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block">
                    <div id="editor" class="editor">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <div id="loading">
                    </div>
                </div>
            </div>
            <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
        </form>
    </div>
</div>
<script src="/layui/layui.js"></script>
<script>
    layui.use('form', function () {
        var form = layui.form;

        //各种基于事件的操作，下面会有进一步介绍
        form.on('submit(*)', function (data) {
            // form.addParameter("content",editor.txt.html())
            // console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            // console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            // console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            var form = data.form
            // console.log(editor.txt.html())
            // console.log(form.title.value)
            // console.log(form.date.value)

            var caseDTO = {"content": editor.txt.html(), "createTime": form.date.value, "title": form.title.value,"caseImg":document.getElementById("myImg").src}
            // console.log(JSON.stringify(caseDTO))

            $.ajax({
                cache: true,//保留缓存数据
                type: "POST",//为post请求
                url: "/case/insert",//这是我在后台接受数据的文件名
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(caseDTO),
                error: function (request) {//请求失败之后的操作
                    return;
                },
                success: function (data) {//请求成功之后的操作
                    $("#loading").empty(); //ajax返回成功，清除loading图标
                    console.log(JSON.stringify(data));
                    window.parent.location.reload(); //刷新父页面
                    //当你在iframe页面关闭自身时
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                },
                beforeSend:function(XMLHttpRequest){
                    $("#loading").html("<i class=\"layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop\" style=\"font-size: 50px; text-align: center;margin-top: 50px;\n" +
                        "    margin-left: 50%;\"></i>"); //在后台返回success之前显示loading图标
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。

        });
    });


</script>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
        });
    });
</script>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript" src="/js/wangEditor.js"></script>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.customConfig.uploadImgServer = '/editorUpload'  // 上传图片到服务器
    editor.create()

    document.getElementById('btn1').addEventListener('click', function () {
        // 读取 html
        alert(editor.txt.html())
    }, false)
</script>
<script>
    layui.use('upload', function () {
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#uploadBtn' //绑定元素
            , url: '/upload/' //上传接口
            , done: function (res) {
                //上传完毕回调
                document.getElementById("myImg").src = res.data[0]
            }
            , error: function () {
                //请求异常回调
            }
        });
    });
</script>
</body>
</html>
