

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>服务介绍--北京艺伟德文化传媒有限责任公司</title>
    <style>
        body{ margin:0; padding:0; font-size:12px; color:#333333; line-height:25px}
        a{ color:#333333; text-decoration:none}
        p{ margin:0; padding:0}
    </style>
</head>

<body>

<script type="text/javascript">

    //平台、设备和操作系统
    var system = {
        win: false,
        mac: false,
        xll: false,
        ipad:false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf("Win") == 0;
    system.mac = p.indexOf("Mac") == 0;
    system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
    system.ipad = (navigator.userAgent.match(/iPad/i) != null)?true:false;
    //跳转语句，如果是手机访问就自动跳转到wap.baidu.com页面
    if (system.win || system.mac || system.xll||system.ipad) {
    } else {

        window.location.href = "wap.asp";
    }

</script>
<link rel="stylesheet" type="text/css" href="css/css.css"/>
<div class="logo" style='padding:10px 0px;'>

    <img src="UploadFile/Link_title/20176191732475106.jpg"/>

</div>
<div class="menu">
    <ul>
        <li><a href="./">首页</a></li>
        <li><a href="about.asp?big=1">公司简介</a></li>
        <li><a href="news.asp?big=19">活动案例</a></li>
        <li><a href="about.asp?big=10">服务介绍</a></li>
        <li><a href="news.asp?big=2">精品动态</a></li>
        <li><a href="about.asp?big=11">优势资源</a></li>
        <li><a href="about.asp?big=13">联系我们</a></li>
        <li><a href="about.asp?big=14">诚聘英才</a></li>
    </ul>
</div>
<div class="qietu" style="height:550px;">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
    <!-- Start 焦点图 -->
    <div class="index_focus">
        <div class="bd">
            <ul  style="height:550px;">

                <li onclick="location.href='http://www.bjywd.com/caseshow.asp?id=1268'" style='background:url(UploadFile/Link_Title/2017691117407493.jpg) center center  no-repeat;background-size: ;cursor:pointer; ;width:100% !important;height:100%;'></li>

                <li onclick="location.href='http://www.bjywd.com/caseshow.asp?id=1266'" style='background:url(UploadFile/Link_Title/2017681543213962.jpg) center center  no-repeat;background-size: ;cursor:pointer; ;width:100% !important;height:100%;'></li>

                <li onclick="location.href='http://www.bjywd.com/caseshow.asp?id=1269'" style='background:url(UploadFile/Link_Title/201768206103075.jpg) center center  no-repeat;background-size: ;cursor:pointer; ;width:100% !important;height:100%;'></li>

                <li onclick="location.href='http://www.bjywd.com/caseshow.asp?id=1267'" style='background:url(UploadFile/Link_Title/201768164348638.jpg) center center  no-repeat;background-size: ;cursor:pointer; ;width:100% !important;height:100%;'></li>

                <li onclick="location.href='http://www.bjywd.com/caseshow.asp?id=1260'" style='background:url(UploadFile/Link_Title/2017681643165998.jpg) center center  no-repeat;background-size: ;cursor:pointer; ;width:100% !important;height:100%;'></li>

                <li onclick="location.href='http://www.bjywd.com/caseshow.asp?id=1142'" style='background:url(UploadFile/Link_Title/2017681643273175.jpg) center center  no-repeat;background-size: ;cursor:pointer; ;width:100% !important;height:100%;'></li>

            </ul>
        </div>
        <div class="slide_nav">

            <a href="javascript:;" style='0px 5px'></a>

            <a href="javascript:;" style='0px 5px'></a>

            <a href="javascript:;" style='0px 5px'></a>

            <a href="javascript:;" style='0px 5px'></a>

            <a href="javascript:;" style='0px 5px'></a>

            <a href="javascript:;" style='0px 5px'></a>

        </div>
    </div>
    <!-- End 焦点图 -->
    <script type="text/javascript">
        jQuery(".index_focus").hover(function(){
            jQuery(this).find(".index_focus_pre,.index_focus_next").stop(true, true).fadeTo("show", 1)
        },function(){
            jQuery(this).find(".index_focus_pre,.index_focus_next").fadeOut()
        });
        jQuery(".index_focus").slide({
            titCell: ".slide_nav a ",
            mainCell: ".bd ul",
            delayTime: 500,
            interTime: 3500,
            prevCell:".index_focus_pre",
            nextCell:".index_focus_next",
            effect: "fold",
            autoPlay: true,
            trigger: "click",
            startFun:function(i){
                jQuery(".index_focus_info").eq(i).find("h3").css("display","block").fadeTo(1000,1);
                jQuery(".index_focus_info").eq(i).find(".text").css("display","block").fadeTo(1000,1);
            }
        });
    </script>
</div>
<div class="hj"></div>

<table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top">
            <table width="222" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="6"><img src="images/index_25_01.jpg" width="6" height="36" /></td>
                    <td width="210" background="images/index_25_02.jpg"><div style="font-size:14px; font-weight:bold; color:#FFFFFF; padding:0 0 0 7px">服务介绍</div></td>
                    <td width="6"><img src="images/index_25_04.jpg" width="6" height="36" /></td>
                </tr>
            </table>
            <table width="222" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border:1px solid #EDEDED; border-top:none; padding:10px">

                        <a href="about.asp?id=1178&big=10" style="display:block; overflow:hidden; height:25px">·活动策划执行</a>

                        <a href="about.asp?id=1193&big=10" style="display:block; overflow:hidden; height:25px">·校园桌贴媒体</a>

                        <a href="about.asp?id=1194&big=10" style="display:block; overflow:hidden; height:25px">·校园框架媒体</a>

                        <a href="about.asp?id=1195&big=10" style="display:block; overflow:hidden; height:25px">·全国阅报栏媒体</a>

                        <a href="about.asp?id=1196&big=10" style="display:block; overflow:hidden; height:25px">·品牌推广</a>

                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
            <table width="222" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="6"><img src="images/index_25_01.jpg" width="6" height="36" /></td>
                    <td width="210" background="images/index_25_02.jpg"><div style="font-size:14px; font-weight:bold; color:#FFFFFF; padding:0 0 0 7px">联系我们</div></td>
                    <td width="6"><img src="images/index_25_04.jpg" width="6" height="36" /></td>
                </tr>
            </table>
            <table width="222" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border:1px solid #EDEDED; border-top:none; padding:10px">
                        北京艺伟德文化传媒有限责任公司<br />
                        电话：010-59476499<br />
                        手机：17710059652<br />
                        邮箱：214925956@qq.com<br />
                        地址：北京市昌平区珠江摩尔国际中心6号楼1单元8层
                    </td>
                </tr>
            </table>
        </td>
        <td width="20"></td>
        <td width="738" valign="top">
            <table width="738" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="6"><img src="images/index_25_01.jpg" width="6" height="36" /></td>
                    <td width="726" background="images/index_25_02.jpg"><div style="font-size:14px; font-weight:bold; color:#FFFFFF; padding:0 0 0 7px">校园桌贴媒体</div></td>
                    <td width="6"><img src="images/index_25_04.jpg" width="6" height="36" /></td>
                </tr>
            </table>
            <table width="738" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border:1px solid #EDEDED; border-top:none; padding:10px">
                        <span style="font-family:SimHei;font-size:24px;"><strong>校园桌贴媒体</strong></span>
                        <hr />
                        <img src="/FCKEeditor/attached/image/20150914/20150914120460106010.jpg" width="300" height="268" align="right" alt="" />
                        <p>
                            <strong><span style="color:#E53333;font-size:14px;">广告形式</span></strong>
                        </p>
                        <p>
                            <span style="font-size:14px;font-family:'Microsoft YaHei';line-height:2;">高校食堂</span>
                        </p>
                        <p>
                            <span style="font-family:'Microsoft YaHei';color:#E53333;line-height:2;font-size:14px;"><strong>画面材质</strong></span><span style="color:#E53333;">&nbsp;</span>
                        </p>
                        <p>
                            <span style="font-size:14px;font-family:'Microsoft YaHei';line-height:2;">可移除背胶</span>
                        </p>
                        <p>
                            <span style="font-size:14px;font-family:'Microsoft YaHei';color:#E53333;line-height:2;"><strong>画面展示尺寸</strong></span><br />
                            <span style="font-size:14px;font-family:'Microsoft YaHei';line-height:2;">H550mm*W1500mm</span>
                        </p>
                        <p>
                            <span style="font-size:14px;font-family:'Microsoft YaHei';color:#E53333;line-height:2;"><strong>文件格式</strong></span>
                        </p>
                        <div style="vertical-align:baseline;">
                            <span style="font-size:14px;font-family:'Microsoft YaHei';line-height:2;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:2;">&#8226;</span></span><span style="font-size:14px;font-family:'Microsoft YaHei';line-height:2;">喷绘：</span><span style="font-size:14px;font-family:'Microsoft YaHei';line-height:2;">TIFF\jpg</span><span style="font-size:14px;font-family:'Microsoft YaHei';line-height:2;">格式、</span><span style="font-size:14px;font-family:'Microsoft YaHei';line-height:2;">CMYK</span><span style="font-size:14px;font-family:'Microsoft YaHei';line-height:2;">模式、分辨率</span><span style="font-size:14px;font-family:'Microsoft YaHei';line-height:2;">150dpi</span>
                        </div>
                        <div style="vertical-align:baseline;">
                            <span style="font-size:14px;font-family:'Microsoft YaHei';line-height:2;"><span style="font-family:'Microsoft YaHei';font-size:14px;line-height:2;">&#8226;</span></span><span style="font-size:14px;font-family:'Microsoft YaHei';line-height:2;">特殊字体需提供字体文件或转路径</span>
                        </div>
                        <span style="font-size:14px;font-family:'Microsoft YaHei';">备注：具体时间和尺寸均可协商。</span><br />
                        <p>
                            <br />
                        </p>
                        <p>
                            <span style="font-family:SimHei;font-size:16px;line-height:1.5;">案例展示</span>
                        </p>
                        <hr />
                        <p>
                            <img src="/FCKEeditor/attached/image/20150914/20150914135563166316.jpg" alt="" />&nbsp;<img src="/FCKEeditor/attached/image/20150914/20150914135679997999.jpg" alt="" />&nbsp;<img src="/FCKEeditor/attached/image/20150914/20150914142427502750.jpg" alt="" />
                        </p>
                        <p>
                            &nbsp;<span style="font-size:14px;font-family:'Microsoft YaHei';">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;京东 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 苏宁易购 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;新东方</span><span></span>
                        </p>
                        <p>
                            <br />
                        </p>
                        <p>
                            <img src="/FCKEeditor/attached/image/20150914/20150914141440894089.jpg" alt="" />&nbsp;<img src="/FCKEeditor/attached/image/20150914/2015091413560239239.jpg" alt="" />&nbsp;<img src="/FCKEeditor/attached/image/20150914/2015091414200520520.jpg" alt="" />
                        </p>
                        <p>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size:14px;font-family:'Microsoft YaHei';">GRE &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 智联招聘 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 腾讯微博 &nbsp; &nbsp; &nbsp; </span>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                        </p>
                        <p>
                            <br />
                        </p>
                        <p>
                            <br />
                        </p>
                        <p>
                            <br />
                        </p>
                        <p>
                            <br />
                        </p>
                        <p>
                            <br />
                        </p>
                        <p>
                            <br />
                        </p>
                        <p>
                            <br />
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="5" height="20"></td>
    </tr>
</table>

<div class="fbg">
    <div class="foot">
        <p style="text-align:center;">
            Copyright@ 2015&nbsp;
        </p>
        <p style="text-align:center;">
            北京艺伟德文化传媒有限责任公司&nbsp;
        </p>
        <p style="text-align:center;">
            All Rights Reserved
        </p>
        <p style="text-align:center;">
            电话：010-59476499&nbsp;
        </p>
        <p style="text-align:center;">
            <span style="font-size:12px;">手机：17710059652&nbsp;</span>
        </p>
        <p style="text-align:center;">
            邮箱：214925956@qq.com
        </p>
        <div style="text-align:center;">
            <span style="font-size:12px;">地址：北京市昌平区珠江摩尔国际中心6号楼1单元8层&nbsp;</span>
        </div>
        <div style="text-align:center;">
            <span style="font-size:12px;">工业和信息化化部网站备案编号：京ICP备15029795号</span>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/17825276.js"></script>
<noscript><a href="http://www.51.la/?17825276" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/17825276.asp" style="border:none" /></a></noscript>

</body>
</html>
